# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

# venv
.venv/

# build
dist/
build/
*.egg-info/

# env / secrets
.env
.env.*
!.env.example

# editor
.vscode/
.idea/

# notebooks
notebooks/

# docs
docs/*
!docs/index.md
!docs/manual/
